doctype html
html(lang='en')
  head
    include ../common/base_head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Placed at the end of the document so the pages load faster
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    // Custom styles for this template
    link(href='css/bootstrap/signupAndLogin.css', rel='stylesheet')
    // Latest compiled and minified JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  body
    .masthead.clearfix
      .wrap
        a.masthead-brand(href='/home')
          img(src='assets/static/GP-01.png')
        ul.nav.masthead-nav
          li
            a(href='/about') About Us
          li
            a(href='/features') Features
          li
            a(href='/faq') FAQ
          li
            a(href='/login') Login
    div#login-box-wrapper.content
      div#login-box-wrapper.bounding-box.rounded
        if errors.length > 0
          each error in errors
            div.padded-less
              div.flash-error.rounded
                div.padded-less
                  div
                    img(src='assets/common/deleteButton.png' width='30' height='30' style="margin-right: 10px; float: left")
                    h3(style="padding: 4px")=error.title
                  each part in error.parts
                    p=part
        //div.padded
          a(href='/auth/facebook')
            img(src='assets/registry/login-with-facebook.png' width='154' height='22')
        div.padded
          h3 Login
          hr
          div.pure-g-r
            div#login-box.pure-u-11-24
              form#login.pure-form.pure-form-stacked(action='/login' method='post')
                fieldset
                  label(for='username') Username
                  input(type='text' name='username' placeholder='username' autofocus=true required=true)
                fieldset
                  label(for='password') Password
                  input(type='password' name='password' placeholder='password' required=true)
              div.button-align
                input.pure-button.button-primary.left(type='submit' form='login' value='Log in')
                p or
                form
                  input.pure-button.button-primary.right(onClick='parent.location="signup"' value='Sign Up')
