doctype html
html(lang='en')
  head
    include ../common/base_head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    // Placed at the end of the document so the pages load faster
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css')
    // Custom styles for this template
    link(href='css/bootstrap/signupAndLogin.css', rel='stylesheet')
    // Latest compiled and minified JavaScript
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

    script(type='application/javascript' src='/js/jquery/0-jquery.1.10.2.min.js')
    script(type='application/javascript' src='/js/registry/signup.js')
  body
    div.masthead.clearfix
      div.wrap
        a.masthead-brand(href='/home')
          img(src='assets/static/GP-01.png')
        ul.nav.masthead-nav
          li
            a(href='/about') About Us
          li
            a(href='/features') Features
          li
            a(href='/faq') FAQ
          li
            a(href='/login') Login
    div.pure-g-r
      div.pure-u-1-2.content
        div.bounding-box.rounded
          div.padded
            h3 Create a user
            hr
            form#signup.pure-form.pure-form-aligned(action='/signup' method='post')
              fieldset
                label(for='username') Username
                input(type='text' name='username' placeholder='Username' autofocus=true required=true)
              fieldset
                label(for='firstName') First name
                input(type='text' name='firstName' placeholder='First name' autofocus=true required=true)
              fieldset
                label(for='lastName') Last name
                input(type='text' name='lastName' placeholder='Last name' required=true)
              fieldset
                label(for='email') Email
                input(type='email' name='email' placeholder='Email' required=true)
              fieldset
                label(for='email2') Reenter email
                input(type='email' name='email2' placeholder='Reenter email' required=true)
              fieldset
                label(for='password') Password
                input(type='password' name='password' placeholder='Password' required=true)
              fieldset
                label(for='password2') Reenter password
                input(type='password' name='password2' placeholder='Reenter password' required=true)
              input.pure-button.button-primary(type='submit' value='Submit')
          div#emailmatch
            p Emails do not match
          div#passmatch
            p Passwords do not match
          div#badusername
            p Username is in use
          div#bademail
            p Email address is in use
