doctype html
html(lang="en")
  head
    include common/base_head
  body
    include banner
    div.content
      div.profilecontainer
        div.profileleft
          div.profilebox
            div#prof-pic(style='background-image: url(#{imageUrl})')
        div.profileright
          include graph
        div.profilebottom
          center
            h2=athleteName
            h4=athleteTeam
            h4=athletePosition

      div.feed
        center
          form#betForm.pure-form(action='/submitForm/' + athleteId method='post')
            | I wager $
            input(type='number' name='wagerAmount' placeholder='Dollars' required=true style='width:100px; height: 40px' min="0" step="0.01")
            | will score
            input(id = 'radioFormA' type='radio' name='longOrShort' value='Over' checked='checked')
            | Over
            input(id = 'radioFormB' type='radio' name='longOrShort' value='Under')
            | Under
            input(type='number' name='fantasyValue' placeholder='Value' required=true style='width: 100px' min="1" step="1")
            | Fantasy Points
            input#betFormButton.pure-button.button-primary(type='submit')

      div.betcontainer
        table#betTable
          thead
            tr
              th='Athlete Name'
              th='Wager Amount'
              th='Over/Under'
              th='Fantasy Value'
              th='Time'
              th=''
          tbody
            each item in bets
              if (item.overNotUnder===false)
                tr
                  td
                    p $#{item.price}
                  td
                    a(href=athleteId class = 'bet' id='bet'+item.betId style='cursor: pointer')
                      | Over
                    p=item.betValue
                  td

              else
                tr
                  td
                    p $#{item.price}
                  td
                    a(href=athleteId class = 'bet' id='bet'+item.betId style='cursor: pointer')
                      | Under
                    p=item.betValue
      div.flash-error.flash-error-fade#flash-error-market-3
        div.padded-less
          div
            img(src='../assets/error_message_icon.png' width='30' height='30' style='margin-right: 5px; float: left;')
            h3(style='padding: 4px') Database Error
            p Something went wrong with the database.
      div.flash-error.flash-error-fade#flash-error-market-4
        div.padded-less
          div
            img(src='../assets/error_message_icon.png' width='30' height='30' style='margin-right: 5px; float: left;')
            h3(style='padding: 4px') Spending Power Error
            p You don't have enough spending power for this bet.
            p Cancel a pending bet, wait for your current bets to end, or add more money to your account, and try again.
      div.flash-error.flash-error-fade#flash-error-market-5
        div.padded-less
          div
            img(src='../assets/error_message_icon.png' width='30' height='30' style='margin-right: 5px; float: left;')
            h3(style='padding: 4px') Bet Already Taken Error
            p This bet has already been taken by someone else.
      div.flash-error.flash-error-fade#flash-error-market-6
        div.padded-less
          div
            img(src='../assets/error_message_icon.png' width='30' height='30' style='margin-right: 5px; float: left;')
            h3(style='padding: 4px') Bet Taker Error
            p You can't take your own bet.



    script(src='/js/betTableFilter.js')
    script(src='/js/search.js')
    script(src='/js/jquery/jquery-ui-1.10.4.custom.js')
    script(type='application/javascript' src='/js/market.js')
    script(src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js")
    link(rel="stylesheet" type="text/css" href="../css/dataTables.css")