<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Placed at the end of the document so the pages load faster -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/css/contestB/contests.css">
    <link rel="stylesheet" type="text/css" href="/css/contestB/dataTables.css">
  </head>

  <body id="page">
    <div class="banner">
      <div class="placeholder">
        <p> Fantasy Sports Estimator </p>
      </div>
    </div>

    <div class="content">
      <div class="table-container">
        <div class="table-container-header">
          <div class="table-container-header-title">
            <h1> Open Contests </h1>
          </div>
          <div class="table-container-header-button-container">
            <a class="enterbtn" href="/contestBInfo">Learn More</a>
            <a class="enterbtn" href="/contestBCreation">Create a Contest</a>
          </div>
        </div>
        <div id="contestTable" class="table-container-main">
          <!--table align="center" style="width:1000px">
            <thead>
              <tr>
                <th>Sport</th>
                <th>Event</th>
                <th>Game Type</th>
                <th>Start Time (ET)</th>
                <th>Entrants</th>
                <th>Entry Fee</th>
                <th>Prize Pool</th>
                <th>Starting Money</th>
                <th>Enter</th>
              </tr>
            </thead>

            <tbody id="contestTableBody">
              <tr>
                <td>{{this.sport}}</td>
                <td>{{this.type}}</td>
                <td>{{this.type}}</td>
                <td>{{this.contestStartTime}}</td>
                <td>{{this.currentEntries}} / {{this.maximumEntries}}</td>
                <td>{{this.entryFee}}</td>
                <td>{{this.totalPrizePool}}</td>
                <td>{{this.startingVirtualMoney}}</td>
                <td>
                  <a class="enterbtn" href="/contestEntry/{{this.contestId}}">Enter</a>
                </td>
              </tr>
            </tbody>
          </table-->
        </div>
      </div>
    </div>

    <!--div class="contest-dialog-box-backdrop">
    </div>

    <div class="contest-dialog-box" align="center">
      <div class="contest-dialog-box-header">
        <h2> The Daily Prophet - $21,000 Prize Pool </h2>
      </div>
      <div class="contest-dialog-box-body">
        <div class="contest-dialog-box-info">
          <p><font size="4"> Entry Fee: $500 Multiple Entries Allowed</font></p>
          <table id="games" style="width:700px">
          <tr>
          <td>NYY at NYM </td>
          <td>NYY at NYM </td>    
          <td>NYY at NYM </td>
          <td>NYY at NYM </td>
          </tr>
          <tr>
          <td>7pm EST</td>
          <td>7pm EST</td>
          <td>7pm EST</td>
          <td>7pm EST</td>
          </tr>
          </table>
        </div>
        <div class="contest-dialog-box-tab-container">
          <ul class="contest-dialog-box-tab-menu">
            <li class="contest-dialog-box-tab active" id="tab1">Info</li>
            <li class="contest-dialog-box-tab" id="tab2">Entries</li>
            <li class="contest-dialog-box-tab" id="tab3">Prizes</li>
          </ul>
          <div class="contest-dialog-box-tab-content-top-border">
          </div>
          <div class="contest-dialog-box-tab-content active" id="tab1-content">
            <p><font size="5"> Pick players from the following list and determine their values:</font></p>
            <p><font size="4"> Derek Jeter (SS - NYY) </font></p>
            <p><font size="4"> Alex Rodriguez (? - NYY)</font></p>
            <br>
            <br>
            <p><font size="5"> Scoring Categories </font></p>
            <p><font size="3"> Hitters: 1B = 1pt, 2B = 2pts, 3B = 3pts, HR = 4pts, RBI = 1pt, R = 1pt, BB = 1pt, SB = 2pts, HBP = 1, Out (calculated as at bats - hits) = -.25pt  
            <br>
            Pitchers: W = 4pts, ER = -1pt, SO = 1pt, IP = 1pt
            </font></p>
            <br>
            <p><font size="2">*Must choose at least 2 players, each investing at least $2,000</font></p>
            <p><font size="2">*Maximum investment amount is $8,000 on a single player</font></p>
          </div>
          <div class="contest-dialog-box-tab-content" id="tab2-content">
          <p><font size="5"> List of Participants: </font></p>
          <table id="participants" style="width:700px">
          <tr>
          <td>David</td>
          <td>Taehoon</td>    
          <td>Jeffrey</td>
          </tr>
          <tr>
          <td>Harrison</td>
          <td>David again</td>    
          <td>Taehoon again</td>
          </tr>
          <tr>
          <td>Jeffrey again</td>
          <td>Harrison again</td>    
          <td>Stop entering David</td>
          </tr>
          </table>
          </div>

          <div class="contest-dialog-box-tab-content" id="tab3-content">
          <p><font size="4"> 1st: $10,000 </font></p>
          <p><font size="4"> 2nd: $5,000 </font></p>
          <p><font size="4"> 3rd: $3,000 </font></p>
          <p><font size="4"> 4th: $2,000 </font></p>
          <p><font size="4"> 5th: $1,000 </font></p>
          </div>
        </div>
      </div>
    </div-->

    <div id="contest-backdrop-wrapper">
    </div>

    <div id="contest-dialog-box-wrapper">
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://fb.me/react-with-addons-0.10.0.js"></script>
    <script src="http://fb.me/JSXTransformer-0.10.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/jsx" src="/js/contestB/reactTable.js"></script>

    <script src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
    <script src="/js/contestB/filter.js"></script>
  </body>
</html>
